<div class="jumbotron m-5"  >
  <h1 class="display-4">Company Reviewへようこそ</h1>
  <hr class="my-4">
  <p>会社についてレビューをするサイトです</p>
  <% if user_signed_in? %>
  <%= button_to "会社一覧をみる", companies_path, method: :get ,class: "btn btn-primary btn-lg" %>
  <% end %>
</div>