<div class="card col-sm-6 mx-auto mt-5">
<h1>プロフィール</h1>

<p>
 <% if current_user.avatar.attached? %>
   <%= image_tag current_user.avatar, class: "card-img-top" %>
 <% end %>
</p>

<div class="card-body">
    <h5 class="card-title">名前：<%= current_user.name %></h5>
    <h6 class="card-subtitle text-muted">年齢：<%= current_user.age %>才</h6>
    <p class="card-text"><%= current_user.email %></p>
  </div>
<a href="/user/edit">Edit Profile</a>
</div>